<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Software Design Demo</title>
    <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/core.css}" type="text/css"/>
    <base href="/">
</head>
<body>
<div th:replace="common/header::navbar"></div>
<div class="container">
    <h1>Order placed!</h1>
    <h2>Thank you!</h2>

</div>
<footer th:replace="~{common/footer::footer}"></footer>
</body>
</html>